.features {
  display: flex;
  align-items: center;
  width: 100%;
}

.featuresRows {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 1000px) {
  .featuresRows {
    flex-direction: column;
  }
}

@keyframes FeatureBlockAppear {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
}

.featureBlock {
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  flex-grow: 0;
  flex-shrink: 1;
  box-sizing: border-box;
  flex-basis: 33%;
  color: var(--ifm-font-color-base);
  text-decoration: none;
  transform: translateZ(0);
  transition: 300ms ease-in-out box-shadow, 300ms ease-in-out transform;
  animation: 300ms ease-in-out FeatureBlockAppear;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featureBlock:hover {
  color: var(--ifm-font-color-base);
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
  transform: translateZ(0) translateY(-5px);
}

.svgContainer {
  width: 64px;
  height: 64px;
  background-color: #f7f5fb;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto 20px;
}

.svg {
  width: 48px;
  height: 48px;
}
