/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6240b5;
  --ifm-navbar-link-hover-color: #8166c4;
  --ifm-color-primary-dark: #4e3391;
  --ifm-color-primary-darker: #3b266d;
  --ifm-color-primary-darkest: #271a48;
  --ifm-color-primary-light: #a18cd3;
  --ifm-color-primary-lighter: #c0b3e1;
  --ifm-color-primary-lightest: #e0d9f0;
  --ifm-code-font-size: 90%;
  --ifm-navbar-height: 66px;
  --ifm-font-weight-bold: 600;
  --ifm-menu-color-background-active: #f4f3f5;

  --ifm-font-family-base: Inter, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html[data-theme="dark"] {
  --ifm-color-primary: #c0b3e1;
}

body {
  background-color: #fafafa;
  background-image: url("/img/gradient.png");
  background-position: 150% 150%;
  background-size: 762px 496px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.table-of-contents__left-border {
  border-left: none;
}

.navbar {
  box-shadow: 0 1px rgba(0, 0, 0, 0.06);
}

.navbar__brand::after {
  pointer-events: none;
  content: "";
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  margin-left: 20px;
}

.theme-doc-markdown {
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

[itemprop="blogPost"] {
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

[itemprop="blogPost"] header h2,
[itemprop="blogPost"] header h1 {
  font-size: 32px;
  font-weight: 400;
}

[itemprop="blogPost"] {
  background-color: #fff;
  padding: 32px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.pagination-nav__link {
  background-color: #fff;
  padding: 16px 32px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: none;
}

.pagination-nav__link:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.18);
}

.navbar__item {
  font-size: 15px;
}

.menu__link {
  border-radius: 0;
}

.theme-doc-sidebar-item-category-level-1
  > .menu__list-item-collapsible--active {
  background: none;
}

.menu__link--active[aria-current="page"] {
  border-right: 3px solid;
}

.theme-doc-sidebar-item-category-level-1
  > .menu__list-item-collapsible--active
  > .menu__link--active[aria-current="page"] {
  border-right: none;
}

.markdown h1:first-child,
.markdown h1 {
  font-size: 32px;
  font-weight: 400;
}

.markdown h2 {
  font-size: 20px;
  font-weight: 600;
}

.markdown h3 {
  font-size: 20px;
  font-weight: 400;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

pre {
  line-height: 1.7;
}

/* .menu__list {
  transition: none !important;
} */

.graphiql-container {
  flex-grow: 1;
}

.doc-explorer-title,
.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root {
  font-family: var(--font-family-mono) !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
}

.graphiql-plugin {
  display: flex;
  flex-direction: column;
}

.docExplorerWrap {
  height: 1px !important;
  flex-grow: 1 !important;
  overflow-y: auto !important;
}

.footer {
  padding: 10px 0;
}

.menu {
  font-weight: 400 !important;
}

.menu__list-item-collapsible > .menu__link:not(.menu__link--sublist) {
  font-size: 0.8em;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.5;
  font-weight: 500;
  padding-left: 35px;
}

.menu__link {
  padding-left: 35px;
}

.menu__caret,
.menu__list-item--collapsed .menu__link--sublist::after,
.menu__link--sublist-caret:after {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px 8px;
}

.menu__list-item--collapsed .menu__link--sublist::after {
  transform: translateY(-50%) rotate(90deg);
}

.menu__link--sublist-caret:after {
  transform: translateY(-50%) rotate(180deg);
}

.menu__caret:hover {
  background-color: transparent;
}

.menu__list-item-collapsible > .menu__link:not(.menu__link--sublist):hover {
  background: none !important;
  color: inherit;
}

.menu__list .menu__list {
  padding-left: 0 !important;
}

.menu__list .menu__list .menu__list {
  padding-left: 10px !important;
}

.theme-doc-sidebar-item-category-level-1 {
  padding: 10px 0;
}
.theme-doc-sidebar-item-category-level-1 .menu__list-item-collapsible:hover {
  background-color: transparent;
}

.menu__caret:before,
.menu__link--sublist-caret:after {
  width: 1em;
  height: 1em;
}

:root {
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='rgba(0,0,0,0.4)' fill-rule='nonzero' d='M7.823 5.735a.25.25 0 0 1 .354 0l3.447 3.447a.25.25 0 1 1-.354.354L8 6.266l-3.27 3.27a.25.25 0 0 1-.3.04l-.054-.04a.25.25 0 0 1 0-.354l3.447-3.447Z'/%3E%3C/svg%3E");
}

@media (max-width: 1100px) and (min-width: 997px) {
  .navbar__logo img {
    max-width: 100px;
  }

  .navbar__item {
    font-size: 13px;
  }
}
